body{
   margin: 0 auto; 
   padding: 0;
   width: 1024px;
}
.header{
background-color: #e6e6e6;
}
main{
   display: flex;
}
.menu{
   margin: 0;
   display: flex;
   list-style: none;
   justify-content: space-between;
}
.list-item{
   padding: 10px 10px;
}
.photo{
   background-color: white;
}
.photo>img{
   text-align: center;
   width: 200px;
   height: 200px;
}
.left-colum{
   padding: 0 50px;
   background-color: #0A5F38;
   color: white;
}
.right-colum{
   padding: 0 50px;
   flex-direction: column;
   justify-content: center;
   
}
.aboutme p{
   font-size: 18px;
}
.name{
   margin-top: 50px;
   padding: 35px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.DN{
   font-size: 45px;
}
.DN-subline{
   font-size: 25px;
}
.name>h1,p{
   margin: 0;
}