body{
   margin: 0 auto; 
   padding: 0;
   width: 1024px;
}
.header{
background-color: #e6e6e6;
}
main{
   display: flex;
}
.menu{
   margin: 0;
   display: flex;
   list-style: none;
   justify-content: space-between;
}
.list-item{
   padding: 10px 10px;
}
.right-colum{
   flex-direction: column;
   justify-content: center;
}
.name{
   padding-top: 20px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.name>h1,p{
   margin: 0;
}