*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Poppins', sans-serif;
   margin: 0 auto; 
   max-width: 1024px;
}
html {
   scroll-behavior: smooth;
 }
.header{
background-color: #242424;
}
.main{
   display: flex;
}
.menu{
   text-transform: uppercase;
   margin: 0;
   display: flex;
   list-style: none;
   justify-content: center;
}
.nav-link{
   color: white;
   cursor: pointer;
   line-height: 1;
   text-decoration: none;
}
.nav-link::after{
   display: block;
   left: 0;
   width: 0;
   height: 2px;
   background-color: white;
   content: "";
   transition: 0.4s;
}
.nav-link:hover:after,
.nav-link:focus:after {
	width: 100%; 
}
.list-item{
   padding: 10px 10px;
}
.photo{
   padding-top: 45px;
   text-align: center;
}
.photo>img{
   border-radius: 50%;
   text-align: center;
   width: 200px;
   height: 200px;
}
.h2-title{
   padding-bottom: 20px;
}
.left-colum{
   padding: 0 50px;
   background-color: #0A5F38;
   color: white;
}
.contact{
   padding: 30px 0 30px 0;
}
.contact-menu{
   list-style: none;
}
.contact-li{
   display: flex;
   padding: 10px 0 10px 0;
}
.contact-li>img{
   margin-right: 5px;
}
.contact-link{
   margin-right: 5px;
}
.skills{
   padding: 30px 0 30px 0;
}
.skill-list, .lang-list{
   font-size: 18px;
   padding-left: 20px;
}
.languages{
   padding: 30px 0 30px 0;
}
.right-colum{
   padding: 0 50px;
   flex-direction: column;
   justify-content: center;
   
}
.aboutme p{
   padding-bottom: 50px;
   font-size: 18px;
}
.name{
   margin: 40px;
   padding: 35px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.DN{
   font-size: 45px;
}
.DN-subline{
   font-size: 25px;
}
.name>h1,p{
   margin: 0;
}
.education{
   padding: 40px 0;
}
.univer, .course{
   padding-top: 10px;
}
.codeEx{
   padding: 40px 0;
}
.codePre{
   background-color: #f5f5f5;
}
.project{
   padding-bottom: 50px;
}
.project>p{
   font-size: 20px;
   font-weight:600;
}
.project-link{
   font-size: 25px;
   color: #0A5F38;
   text-decoration: none;
}
.project-span{
   font-size: 25px;
}
.footer{
   background-color: #242424;
}
.footer-line{
   display: flex;
   justify-content: center;
}
.footer-list{
   color: white;
   display: flex;
   list-style: none;
}
.footer-li{
   padding: 10px;
}
.footer-img{
   height: 60px;
}